<?xml version="1.0" encoding="utf-8"?>


<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">


	<connectionStrings>
		<add name="Hafazah"
		  connectionString="Data Source=SQL8001.site4now.net,1433;Initial Catalog=db_a8ccc2_hafazah; User Id =db_a8ccc2_hafazah_admin ; Password =P@ssw0rd"
		  xdt:Transform="SetAttributes"
		  xdt:Locator="Match(name)"/>
	</connectionStrings>


	<appSettings>
		<add key="HangfireConnection"
			 value="HangFireDataBaseNotExists"
			 xdt:Transform="SetAttributes"
			 xdt:Locator="Match(name)"
			 />
	
	</appSettings>

	<system.web>
		<customErrors
			 mode="Off" xdt:Transform="Replace">
		</customErrors>
	</system.web>
</configuration>